.container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: right;
    /* background-color: lightslategrey; */
    overflow: hidden;
    
  }
  
  /* show or hide the main display/ carousel is in style.css ?*/
  .displayAll {
    display: block;
  
  }
  
  .displayFade {
    display: none;
  } 
  
  .button {
    padding: 8px 19px 9px 19px;
    position: absolute;
    top: 42%;
    left: 92%;
    border-width: 4px;
    border-radius: 1%;
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: Helvetica Neue;
  }
  

