.wrapper {
    /* display: flex; */
    position: absolute;
    margin-top: 250px;
    top: 20%;
  } 

  .slider {
    position: sticky;
    max-width: 226px;
    display: flex;
    grid-template-columns: 25%;
    margin: 0 auto; }
    .slider:after {
        content: '';
        /* display: block; */
        width: 100%;
        height: 264px;
        border: 5px black;
        position: absolute;
        top: 0;
        left: 0; }
     