
.text {
    left: 0%;
    top: 65px;
    display: block;
    background: rgba(51, 51, 51, 0.5);
    position: relative;
    width: 940px;
    height: 86px;
  }


.title {
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-size: 14px;
    color: white !important;
    line-height: 18px;
    opacity: 100% !important;
  }
  
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica Neue;
    font-size: 12px;
    color: white !important;
    line-height: 18px;
    opacity: 100% !important;
  }

ul {
    float: left;
  }