.carousel-container {
  position: fixed;
}

.see-all-photos-button {
  padding: 8px 19px 9px 19px;
  position: fixed;
  top: 42%;
  left: 92%;
  border-width: 4px;
  border-radius: 1%;
  font: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Helvetica Neue;
}

  .image {
    background-color: rgb(51, 51, 51);
    margin: 10;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    align-self: stretch;
    width: 446px;
    height: 298px;
    overflow: hidden;
  }

  
/*  show or hide model */
  .display-block {
    display: block;
    background-color:rgb(51, 51 , 51, 0.7);
    padding-bottom: 50px;;
  }
  
  .display-none {
    display: none;
    /* background-color: white; */
  }
  
  /* photo carousel arrows specs  */
  .slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    left: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-left:hover {
        opacity: 100%;
      }

/* cards specs */
  .cards-slider-wrapper {
    /* display: flex; */
    position: fixed;
    top: 20%;
  }

  .cards-slider {
    position: relative;
    max-width: 226px;
    display: flex;
    grid-template-columns: 25%;
    margin: 0 auto; }
    .cards-slider:after {
        content: '';
        /* display: block; */
        width: 100%;
        height: 264px;
        border: 5px black;
        position: absolute;
        top: 0;
        left: 0; }
        
/* modal specs  */
.modal-container {
  display: block;
  width: 100%;
  height: 2735px;
  align-items: right;
  /* background-color: lightslategrey; */
  overflow: hidden;
}

.full-modal-container {
  display: flex;
  background-color: black;
  width: 80%;
  max-width:  940px;
  height: 986px;
  position: relative;
  left: 18%;
  top: 15%;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

.modal-card-wrapper {
  max-width: 85%;
  object-fit: contain;
}

.modal-image {
  object-fit: contain;
  max-width: 940px;
  max-height: 705px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 107px;
  left: 0%;
  opacity: 100%;
  object-fit: scale-down;
} 
.modal-image img{
  max-width: 940px;
}

.close-button {
  position: relative;
  top: 10%;
  width: 100%;
  left: 72%;
}
/* show or hide the main display/ carousel */
.display-all {
  display: block;

}

.display-fade {
  display: none;
}

/* .modal-text-block {
  
} */

.modal-text {
  left: 0%;
  top: 65px;
  display: block;
  background: rgba(51, 51, 51, 0.5);
  
  /* opacity: 50%; */
  position: relative;
  width: 940px;
  height: 86px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-size: 14px;
  color: white !important;
  line-height: 18px;
  opacity: 100% !important;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica Neue;
  font-size: 12px;
  color: white !important;
  line-height: 18px;
  opacity: 100% !important;
}

  /* modal arrows specs  */
  .modal-slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    top: 40%;
    left: 0%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .modal-slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 40%;
    left: 0%;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-left:hover {
        opacity: 100%;
      }
.person-red-svg {
  fill: red;
}

.person-svg {
  fill: grey;
}

.star-svg {
  fill: red;
}

.avator-svg {
  fill: white;
  height: 30px;
  width: 30px;
}

ul {
  float: left;
}

/* modal part two specs */
.side-bar-container {
  display: flex;
  width: 360px;
  height: 926px;
  border-bottom-right-radius: 1%;
  border-top-right-radius: 1%;
  position: absolute;
  flex-flow: column;
  left: 940px;
  top: 0%;
  align-self: stretch;
  /* border: px solid white; */
  overflow: hidden;
  background-color: white;
  padding: 30px;
}
.restaurant-title {
  border: 5px;
  width: 300px;
  height: 107px;
  font-size: 16px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica neue;
  line-height: 21px;
  padding-bottom:12px;
}

.restaurant-subtitle {
  color: #0073bb;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica neue;
  line-height: 18px;
  padding-bottom: 6px;
}

.modal-side-bar {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  align-self: stretch;
  transition: transform .5s ease;
  width: 360px;
  height: 820px;
  position: relative;
  padding: 5px;
}

.avator {
  fill: white;
  width: 20px;
  height: 20px;
}

ul {
  float: left;
}
.side-bar-image {
  justify-content: flex-start;
  align-self: stretch;
  /* flex-shrink: 2; */
  max-width: 300px;
  min-width: 147px;

  flex-direction: column;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 1% solid white;
  border: 4px solid white;
}

.side-bar-image img{
  max-width: 300px;
  max-height: 165px;
  border-radius: 5%;
  min-width: 147px;
  /* border: 5px solid white; */
}
