.carousel-container {
  position: relative;
}

.see-all-photos-button {
  padding: 0;
  position: fixed;
  top: 42%;
  left: 95%;
  font: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Helvetica Neue;
  /* width: 150%;
  height: 18px; */
  /* top: 383.672px;
  left: 1674.67px; */
  width: 105.328px;
  height: 36px;
}

  .image {
    background-color: black;
    /* height: relative;
    width: relative; */
    margin: 10;
    border: 2px solid white;
    background-size: 'cover';
    background-position: 'center';
    width: 450px;
    height: 300px;
    overflow: hidden;
  }

  
/*  show or hide model */
  .display-block {
    display: block;
    position: relative;
  }
  
  .display-none {
    display: none;
  }
  
  /* photo carousel arrows specs  */
  .slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    left: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-left:hover {
        opacity: 100%;
      }

/* cards specs */
  .cards-slider-wrapper {
    /* display: flex; */
    position: fixed;
    top: 20%;
  }

  .cards-slider {
    position: relative;
    max-width: 226px;
    display: flex;
    grid-template-columns: 25%;
    /* overflow: hidden; */
    margin: 0 auto; }
    .cards-slider:after {
        content: '';
        /* display: block; */
        width: 100%;
        height: 264px;
        border: 5px black;
        position: absolute;
        top: 0;
        left: 0; }
        
/* modal specs  */
.modal-container {
  display: block;
  background-color: black;
  opacity: 100%;
  width: inherit;
}

.modal-main {
  /* overflow: hidden;
  position: relative;
  top: 10%;
  display: contents;
  width: 1050px;
  left: 250px; */
}

.modal-card-wrapper {
  max-width: 300px;
}
.modal-slider {
  /* position: relative;
  max-width: 226px;
  display: flex;
  grid-template-columns: 25%;
  overflow: hidden;
  margin: 0 auto;  */
}
.modal-slider:after {
  /* content: '';
 
  width: 100%;
  height: 264px;
  border: 5px black;
  position: absolute;
  top: 0;
  left: 0;  */
}

.modal-image {
  border: 2px solid black;
  max-width: 1000px;
  max-height: 600px;
  overflow: hidden;
  display: inline-flex;
  position: relative;
  top: 40px;
  left: 500px;
  opacity: inherit;
}

.close-button {
  position: relative;
  top: 10%;
  left: 80%;
}

/* 
.modal {
  position: fixed;
  top: 10;
  left: 10;
  width: 50%;
  height: 50%;
  background: black;
} */

/* .modal-main { */
  /* position: fixed;
  background: black;
  top: 15%;
  left: 15%;
  transform: translate(-50%,-50%);
  width: 100%; */

/* .modal-card-wrapper  */
  /* flex: 1;
  background-color: black;
  border-color: black; 
  width: 500px;
  height: 250px; */


/* .modal-image {
  
} */


.display-all {
  display: initial;
}

.display-fade {
  display: none;
  opacity: 20%;
}

.model-text {
  left: 500px;
  display: block; 
  background-color: black;
  opacity: 60%;
  position: relative;
  width: 1010px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica Neue;
  font-size: 14px;
  color: white;
  line-height: 18px;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica Neue;
  font-size: 12px;
  color: white;
  line-height: 18px;
}

  /* modal arrows specs  */
  .modal-slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 35%;
    left: 70%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .modal-slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 35%;
    left: 25%;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-left:hover {
        opacity: 100%;
      }