.flex-container {
    display: flex;
    background-color: black;
    outline: 5px black;
    size: 500px;
}

.image {
    background-color: black;
    height: '25%';
    width: '25%';
    margin: 2;
    backgroundSize: 'cover';
    backgroundPosition: 'center';
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica Neue;
    font-size: 14px;
    color: #000;
    line-height: 18px;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica Neue;
    font-size: 12px;
    color: #000;
    line-height: 18px;
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

.cards-slider-wrapper {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .cards-slider-wrapper .card {
      flex: 1;
      min-width: 300px;
      opacity: 0.7;
      transform: scale(0.8);
      box-shadow: none;
      background-color: black;
      border-color: black; 
      transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .cards-slider-wrapper .card .details {
        opacity: 0;
        transition: opacity 150ms linear; }
  
  .cards-slider.active-slide-0 #card-0 {
    opacity: 1;
    transform: scale(1);
    background-color: black;
    border-color: black; }
    .cards-slider.active .details {
      opacity: 1; }

.cards-slider {
    position: relative;
    max-width: 226px;
    display: grid;
    grid-template-columns: 25%;
    margin: 0 auto; }
    .cards-slider:after {
        content: '';
        display: block;
        width: 100%;
        height: 264px;
        outline: 5px black;
        position: absolute;
        top: 0;
        left: 0; }
  