.carousel-container {
  position: relative;
}

.see-all-photos-button {
  padding: 0;
  position: fixed;
  top: 42%;
  left: 95%;
  font: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Helvetica Neue;
  width: 105.328px;
  height: 36px;
}

  .image {
    background-color: black;
    margin: 10;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 300px;
    overflow: hidden;
  }

  
/*  show or hide model */
  .display-block {
    display: block;
    position: relative;
  }
  
  .display-none {
    display: none;
  }
  
  /* photo carousel arrows specs  */
  .slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 28%;
    left: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .slide-arrow-left:hover {
        opacity: 100%;
      }

/* cards specs */
  .cards-slider-wrapper {
    /* display: flex; */
    position: fixed;
    top: 20%;
  }

  .cards-slider {
    position: relative;
    max-width: 226px;
    display: flex;
    grid-template-columns: 25%;
    margin: 0 auto; }
    .cards-slider:after {
        content: '';
        /* display: block; */
        width: 100%;
        height: 264px;
        border: 5px black;
        position: absolute;
        top: 0;
        left: 0; }
        
/* modal specs  */
.modal-container {
  display: block;
  width: 100%;
  height: 100%;
  align-items: right;
  background-color: rgb(146, 146, 146);
  overflow: hidden;
}

.full-modal-container {
  display: flex;
  background-color: black;
  width: 80%;
  max-width:  940px;
  max-height: 900px;
  position: relative;
  left: 18%;
  top: 15%;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

.modal-card-wrapper {
  max-width: 85%;
  object-fit: contain;
}


.modal-image {
  object-fit: contain;
  max-width: 940px;
  max-height: 705px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 0%;
  opacity: 100%;
  object-fit: scale-down;
} 
.modal-image img{
  max-width: 940px;
}

.close-button {
  position: relative;
  top: 10%;
  width: 100%;
  left: 80%;
}

.display-all {
  display: block;
}

.display-fade {
  display: none;
}

.model-text {
  left: 0%;
  display: block; 
  background-color: black;
  opacity: 60%;
  position: relative;
  width: 940px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-size: 14px;
  color: white;
  line-height: 18px;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica Neue;
  font-size: 12px;
  color: white;
  line-height: 18px;
}

  /* modal arrows specs  */
  .modal-slide-arrow-right {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 30%;
    left: 59%;
    right: 1rem;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(45deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-right:hover {
        opacity: 100%;
      }
  
  .modal-slide-arrow-left {
    cursor: pointer;
    font-size: 1rem;
    position: fixed;
    top: 30%;
    left: 19%;
    width: 18px;
    height: 18px;
    border-top: 6px solid white;
    border-right: 6px solid white;
    transform: rotate(225deg);
    margin: 50px;
    border-radius: 10%;
    opacity: 75%;
  }
      .modal-slide-arrow-left:hover {
        opacity: 100%;
      }
.person-red-svg {
  fill: red;
}

.person-svg {
  fill: grey;
}

.star-svg {
  fill: red;
}

ul {
  float: left;
}

/* modal part two specs */
.side-bar-container {
  display: flex;
  width: 360px;
  height: 2735px;
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
  position: absolute;
  flex-flow: column;
  left: 940px;
  top: 0%;
  background-color: white;
}

.modal-side-bar {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  width: 360px;
  border: 10px solid white;
  border-radius: 1%;
}

.side-bar-image {
  justify-content: space-between;
  flex-shrink: 2;
  max-width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  object-fit: contain;
}

.side-bar-image img{
  max-width: 300px;
  max-height: 165px;
  border-radius: 1%;
  border: 5px solid white;
}
