 
  /*  show or hide model */
  .display-block {
      display: block;
      background-color:rgb(51, 51 , 51, 0.7);
      padding-bottom: 50px;;
    }
    
  .display-none {
      display: none;
      /* background-color: white; */
    }
  
  /* show or hide the main display/ carousel */
  .display-all {
    display: block;
  
  }
  
  .display-fade {
    display: none;
  }


